@model ModelHandling.Models.Students

<h2 class="display-5">Add Students</h2>

<form method="post" style="width: 22rem;">
    <!-- Name input -->
    <div data-mdb-input-init class="form-outline mb-4">

        <label class="form-label" asp-for="Name" for="form5Example1">Name</label>
        <input type="text" id="form5Example1" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">

        <label class="form-label" asp-for="Email" for="form5Example2">Email address</label>
        <input type="email" id="form5Example2" asp-for="Email" class="form-control" />

        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">

        <label class="form-label" asp-for="Age" for="form5Example2">Age</label>
        <input type="number" id="form5Example2" asp-for="Age" class="form-control" />

        <span asp-validation-for="Age" class="text-danger"></span>
    </div>


    <!-- Submit button -->
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Add</button>
</form>


@if(ViewBag.Message != null)
{
    <p class="text-success mt-3 fw-bold" >@ViewBag.Message</p>
}

 @section Scripts
 {
    <partial name="_ValidationScriptsPartial.cshtml" />
 }